<div class="create-attachment-container">
  <label class="create-attachment">
    <input class="create-attachment-input" type="file" multiple>
    <i class="fa fa-cloud-upload"></i>
    <span class="for-inline">Add photos or files</span>
    <span class="for-dropzone">Drop files here</span>
  </label>
</div>
